<div class="d-flex pt-3 justify-content-center align-content-center" [ngClass]="{'h-100vh': cardsShow === true}">
    <div class="card mw-500 shadow" *ngIf="cardsShow === false">
        <h3 class="card-header bg-dark p-4 text-white">
            Congrats!
        </h3>
        <div class="card-body">
            <h3 class="card-title">Welcome</h3>
            <p class="card-text">You are logged in.</p>
            <button class="btn btn-gray p-2 float-right" (click)="generate()">Generate</button>
        </div>
    </div>
    <div *ngIf="cardsShow === true">
        <div class="card mw-500 shadow mb-2" *ngFor="let user of users">
            <div class="d-flex card-header bg-dark text-white">
                <img class="card-img-top text-white" src="{{ user.photo }}">
                <div class="card-title font-weight-bold align-self-center p-3">{{ user.username}}</div>
            </div>
            <div class="card-body">
                <h5 class="card-title font-weight-bold">{{ user.fname }} {{ user.lname }}</h5>
                <p class="card-text">{{ user.post }}</p>
            </div>
        </div>
    </div>
</div>