div.d-flex{
    background-image: url(/src/assets/img/form-bg5.jpeg);
    background-size: cover;
    z-index: -1;

    .box-container{
        background: rgba(0,0,0,0.5);
        #login{
            z-index: 10;
        }
    }
}

i{
    position: absolute;
    color: white;
    height: 20px;
    width: 20px;
    top: 10px;
}

input[type="text"], input[type="email"], input[type="password"]{
    border: none;
    outline: none;
    border-bottom: 2px solid #555555;
    padding-left: 35px !important;
    background: transparent;
    color: #fff;  
}

input::placeholder{
    color: #fff;
}

button:hover{
    color: #ffffff;
    background: #999;
}

#signup:hover{
    font-weight: bold;
    color: #999;
}

.h-500{
    height: 500px;
}

.font-big{
    font-size: 18px;
}

input:focus{
    box-shadow: none;
}

.ng-untouched[required],.ng-dirty[required] {
    border-bottom: 3px solid gray;
}
.ng-valid[required], .ng-valid.required{
    border-bottom: 3px solid green; /* green */
}
.ng-invalid:not(form) {
    border-bottom: 3px solid red; /* red */
}

.radius-20{
    border-radius: 20px;
}