router-outlet{
    min-height: 100vh;
}
.mw-50{
    max-width: 50%;
}

.profile{

}

.row{
    z-index: 10;
    
    .sidemenu{
        min-width: 300px;
        max-width: 350px;
        height: calc(100vh - 62px);
        
        li{
            cursor: pointer;
        }
    }
}