<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar bg-primary p-2">
  <button class="navbar-toggler mr-auto" (click)="collapsible = !collapsible"><i class="fas fa-bars w-25 text-white"></i></button>
  <h4 class="text-white mr-auto">LOGO</h4>
  <button class="profile rounded-circle bg-white border-0 btn btn-lg">B</button>
</nav>
<div class="row position-absolute">
  <ul class="col-3 list-group bg-light text-center p-0 shadow sidemenu" [ngbCollapse]="collapsible">
    <li class="list-group-item bg-primary text-white border-0" routerLink="/form" (click)="collapsible = !collapsible">Form</li>
    <li class="list-group-item bg-primary text-white" routerLink="/cardmenu" (click)="collapsible = !collapsible">Side Menu</li>
    <li class="list-group-item bg-primary text-white" routerLink="/form" (click)="collapsible = !collapsible">Logout</li>
  </ul>
</div>
<router-outlet class="position-relative"></router-outlet>
<!-- <nav class="font-weight-bold">
    <a class="m-2" routerLink="/form">Login</a>
    <a routerLink="/cardmenu">Cardmenu</a>
  </nav> -->