$purple: #8e44ad;

nav{
    max-height: 55px;

    .navbar-toggler{
        font-size: 28px;
    }
    .logo{
        letter-spacing: 5px;
        line-height: 1;
    }
    .dropdown::after{
        content: "";
        display: none;
    }
    
    .dropdown:focus{
        box-shadow: none;
    }
    .dropdown-menu{
        left: -115px !important;
        a:hover{
            color: #fff;
            background: $purple;
        }
    }
}

.logo:hover{
    color: #444 !important;
}

.row{
    .sidemenu{
        min-width: 300px;
        max-width: 350px;
        height: calc(100vh - 55px);
        
        li{
            cursor: pointer;
        }
        li:hover{
            background-color: $purple !important;
            color: #bbb !important;
        }
    }
}