/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*{
    font-family: 'Roboto', sans-serif;
}
.h-100vh{
    height: 100vh !important;
}

@for $i from 0 to 5 {
    $width: 250 * $i;

    .mw-#{$width}{
        max-width: #{$width}px;
    }

    .w-#{$width}{
        width: #{$width}px;
    }
    
    .border-#{$i}{
        border-radius: #{$i}px !important;
    }

    .ml-#{$width}{
        margin-left: #{$width}px;
    }

    .mr-#{$width}{
        margin-right: #{$width}px;
    }

    .mt-#{$width}{
        margin-top: #{$width}px;
    }

    .mb-#{$width}{
        margin-bottom: #{$width}px;
    }    
}

.bg-custom{
    background-image: linear-gradient(to top, #1c92d2, #f2fcfe);
}
